.rootContainer {
    width: 100%;
    background-color: #9575CD;
    height: 80px;
    min-height: 80px;
}

.root {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}